@using Artisan.Next.Client.Contracts.Chits
<div class="container-fluid p-0 text-start">
    @foreach (var row in EnumerateCharacteristics().Chunk(3))
    {
        <div class="row">
            @foreach (var characteristic in row)
            {
                <div class="col p-0">
                    <button class="btn w-100">
                        <h5>
                            <b>@characteristic.Emoji @characteristic.Value.ToModifierString()</b>
                        </h5>
                    </button>
                </div>
            }
        </div>
    }
</div>

@code {

    private IEnumerable<CharacteristicRow> EnumerateCharacteristics() =>
    [
        new CharacteristicRow("💪", Model.Str),
        new CharacteristicRow("🏃", Model.Dex),
        new CharacteristicRow("💪", Model.Con),
        new CharacteristicRow("🧠", Model.Int),
        new CharacteristicRow("🦉", Model.Wis),
        new CharacteristicRow("👄", Model.Cha)
    ];

    private record CharacteristicRow(string Emoji, int Value);

    [Parameter, EditorRequired]
    public CharacteristicsModel Model { get; set; } = null!;
}