<!DOCTYPE html>
<!--suppress CssUnresolvedCustomProperty -->
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="bootstrap/icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="app.css" />
    @* ReSharper disable once Html.PathError *@
    <link rel="stylesheet" href="Artisan.Next.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="@RenderModeForPage" />
    <title>Artisan.Next</title>
    <style>
        .blazor-loader {
            width: var(--blazor-load-percentage, 0%);
        }
        .blazor-loader:after {
            content: var(--blazor-load-percentage-text, "Loading");
        }
    </style>
</head>

<body>
    <div class="progress" id="loader">
      <div class="progress-bar progress-bar-striped progress-bar-animated blazor-loader" role="progressbar"></div>
    </div>
    <Routes @rendermode="@RenderModeForPage"/>
    @* ReSharper disable once Html.PathError *@
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

@code {

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private bool IsSsrPage => HttpContext.Request.Path.StartsWithSegments("/Account");

    private IComponentRenderMode? RenderModeForPage => IsSsrPage
        ? null
        : new InteractiveWebAssemblyRenderMode(prerender: false);
}