@page "/"

<PageTitle>Главная</PageTitle>

<h1>Hello, world!</h1>

<p>
    Я планирую сделать этот сайт своим постоянным и постепенно мигрировать весь функционал с других своих сайтов сюда.
</p>

<p>
    Сайт сделан на Blazor 8 с рендерингом WebAssembly на фронте и Blazor SSR на страницах управления аккаунтом.
    Если у вас есть что сказать мне по поводу этого сайта то можете написать мне в ТГ.
</p>
