@page "/Account/Lockout"

<PageTitle>Ограничение</PageTitle>

<header>
    <h1 class="text-danger">Ограничение</h1>
    <p class="text-danger">Этот аккаунт временно ограничен, попытайтесь позже.</p>
</header>