@page "/Account/ResetPasswordConfirmation"
<PageTitle>Подтверждение восстановления пароля</PageTitle>

<h1>Подтверждение восстановления пароля</h1>
<p>
    Ваш пароль был изменен. <a class="link-info" href="Account/Login">Нажмите сюда для авторизации</a>.
</p>