@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject IWebAssemblyHostEnvironment Environment

<!--suppress CssUnusedSymbol -->
<style>
    #loader {
        display: none;
    }
</style>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 justify-content-end">
            <AuthorizeView>
                <Authorized>
                    <div class="d-flex justify-content-end align-items-center h-75">
                        <NavLink class="btn btn-outline-dark" href="Account/Manage">
                            @context.User.Identity?.Name
                        </NavLink>
                        @if (context.User.GetAvatarPath() is { } path)
                        {
                            <img class="rounded-circle border border-2 border-dark" src="@path" alt="avatar" style="width: 3rem; height: 3rem"/>
                        }
                        else
                        {
                            <div class="spinner-border text-dark" role="status" style="width: 3rem; height: 3rem">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        }
                    </div>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-dark h-75" @onclick="@(() => NavigationManager.NavigateToLogin(Environment))">
                        <i class="bi bi-person-circle"></i>
                        Авторизация
                    </button>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4 mb-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>