@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@implements IDisposable

@inject NavigationManager NavigationManager
@inject IWebAssemblyHostEnvironment Environment

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="text-light logo fs-3 fw-bolder text-decoration-none" href="">
            Artisan.Next
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Главная
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="minnies">
                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Минифигурки
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" target="_blank" href="https://un1ver5e.notion.site/5933e3cf40e84cd5a3c04d2470ce0717?pvs=4">
                <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true" target="_blank"></span> Аркленс
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" target="_blank" href="https://un1ver5e.notion.site/03d176b5c22d48d88a02b6c086659dcf?pvs=4">
                <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Настолки
            </NavLink>
        </div>
        
        @if (Environment.IsDevelopment())
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" target="_blank" href="swagger">
                    <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Swagger
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private string? _currentUrl;

    protected override void OnInitialized()
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}